 <div class="row">
  <div class="col-sm-6">
    <div class="btn-toolbar" role="toolbar">
      <div class="btn-group">
	<button type="button" class="btn btn-default" ng-click="create()">
	  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Neu
	</button>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <pagination class="pagination-sm pull-right"
		boundary-links="true"
		total-items="model.count"
		ng-change="model.load()"
		ng-model="model.currentPage">
    </pagination>
  </div>
</div>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th>Processor</th>
      <th>RAM</th>
      <th>Power</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="row in model.objects" ng-click="edit(row.id)">
      <td>{{ row.id }}</td>
      <td>{{ row.processor }}</td>
      <td>{{ row.ram }}</td>
      <td>{{ row.power }}</td>
    </tr>
  </tbody>
</table>
